<!--@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutBelajar";
}-->

@*<div class="bungkus">
    <div class="satu"></div>
    <div class="dua"></div>
    <div class="tiga"></div>
</div>*@

<!--<h1 id="judul">Judul</h1>
<div id="container">

    <section id="a">
        <p class="p1">Paragraf 1</p>
        <p class="p2">Paragraf 2</p>
        <a href=" #">Ini adalah link</a>
        <p class="p3">Paragraf 3</p>
        <p class="p4">Paragraf 4</p>
    </section>

    <section id="b">
        <p id="a">Paragraf 5</p>
        <ul>
            <li class="list1">Ini list</li>
            <li class="list2">Ini list</li>
            <li class="list3">Ini list</li>
            <li class="list4">Ini list</li>
            <li class="list5">Ini list</li>
        </ul>
    </section>

</div>-->